@use "/base-styles/variables" as *;
@use "/base-styles/mixins" as *;
@use "/base-styles/functions" as *;

.navigation {
  padding: 1rem;
  max-height: 3rem;

  @include responsive-tablet {
    max-height: 6rem;
  }

  p {
    @include responsive-tablet {
      font-size: 2rem;
      color: var(--white);
      font-weight: 600;
    }
  }

  .navigation__container {
    @include flex-row;
    justify-content: space-between;
    align-items: center;
  }

  .navigation__line {
    width: 100%;
    height: 0.5px;
    background-color: var(--dim-yellow);
    margin-top: 0.3rem;

    @include responsive-tablet {
      margin-top: 1rem;
    }
  }

  ul {
    // max-height: 3rem;
    @include flex-row;
    align-items: center;
    gap: 1rem;
  }
}

.section {
  position: relative;
  height: calc(100vh - 3rem);
  overflow-x: hidden;
  @include flex-column;
  justify-content: center;

  @include responsive-tablet {
    height: calc(100vh - 6rem);
    overflow: hidden;
  }

  .section--background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    min-width: 90vh;
    filter: brightness(350%);
    transform: rotate(-90deg) translateY(-20%);

    @include responsive-tablet {
      top: 0;
      left: 50%;
      min-width: 80vh;
      transform: rotate(0) translate(-50%);
    }
  }

  .section__container-1 {
    position: absolute;
    top: 5%;
    left: 1rem;
    @include responsive-tablet {
      display: none;
    }
    h1 {
      color: var(--white);
      font-size: toRem(24px);
      font-weight: 600;
    }
    p {
      font-size: toRem(14px);
    }
  }

  .section__container-2 {
    position: absolute;
    top: 15%;
    left: 1rem;
    padding: 2rem;
    max-width: toRem(235.3px);
    background: url(../public/chatblob.svg) 100% 100% no-repeat;
    left: 20%;
    z-index: 4;
    @include responsive-tablet {
      top: 10%;
    }
    // clip-path: polygon(
    //   0% 0%,
    //   100% 0%,
    //   100% 91%,
    //   20% 92%,
    //   0 100%,
    //   0 85%,
    //   1% 86%
    // );
  }

  .section__container-3 {
    @include flex-row;
    gap: 1.5rem;
    position: absolute;
    z-index: 2;
    justify-content: center;
    align-items: center;
    bottom: 0;
    margin-bottom: 1rem;
    max-width: toRem(235.3px);
    border: 1px solid var(--dim-yellow);
    padding: 2rem;
    left: 50%;
    transform: translate(-50%, 0);
    min-width: 80%;
    max-height: 40%;
    background-color: var(--black);
    border-radius: 1.875rem 1.875rem 0rem 0rem;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(25px);
    --webkit-backdrop-filter: blur(25px);
    justify-content: space-between;

    clip-path: polygon(
      0 0,
      33% 0,
      41% 6%,
      59% 6%,
      65% 0,
      100% 0,
      100% 85%,
      100% 100%,
      85% 100%,
      15% 100%,
      0 100%,
      0% 85%
    );

    ul {
      @include grid(1fr, 1fr 1fr 1fr);
      gap: 1rem;
      width: 100%;

      @include responsive-tablet {
        @include grid(1fr, 25% 25% 25% 25%);

        .section__container-3--desktop-none {
          display: none;
        }
      }
    }
    .section__container-3--heading {
      color: var(--white);
      font-size: toRem(14px);
    }
  }

  .section__container-4 {
    @include responsive-tablet {
      position: absolute;
      top: -10%;
      left: 50%;
      transform: translateX(-50%);
    }

    img {
      position: relative;
      z-index: -1;
      margin: 0 auto;
    }

    .section__container-4--mobile-hero {
      width: 110vw;
      max-width: 47vh;
      transform: scale(2);
      @include responsive-tablet {
        display: none;
      }
    }

    .section__container-4--desktop-hero {
      display: none;
      @include responsive-tablet {
        display: block;
      }
    }
  }
}
